<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	
<head>
<link rel="stylesheet" type="text/css" href="css/main.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>Review Paper</title>
</head>

<body>
		<h1 id=siteheading>Conference Website</h1>
		
		<a href=/landing><button id=home> <i class="fa fa-home"></i> </button></a>
		
		<div class="wrap">
  			<h3>Please enter all relevant information.</h3>
   			<form action="#" th:action="@{/submitReview}" th:object="${newReview}" method="post">
    		<table>
       			<colgroup>
       				<col style="width: 35%;">
       				<col style="width: 65%;">
      			</colgroup>
        		<tr>
          			<td>Reviewer Email</td>
          			<td><input type="text" placeholder="person@email.com" th:field="*{revemail}"></td>
       			</tr>
      			<tr>
          			<td>Paper ID</td>
          			<td><input type="text" placeholder="00000" th:field="*{paperID}"></td>
       			</tr>
       			<tr>
          			<td>Technical Merit</td>	
          			<td>
	          			<span th:each="radioValue: ${allValues}">
						    <input type="radio" 
						        th:field="*{techMerit}"
						        th:value="${radioValue}" />
						    <label 
						        th:for="${#ids.prev('techMerit')}"
						        th:text="${radioValue}"></label>
						 </span>
					</td>
      			</tr>
       			<tr>
          			<td>Readability</td>
          			<td>
	          			<span th:each="radioValue: ${allValues}">
						    <input type="radio" 
						        th:field="*{readability}"
						        th:value="${radioValue}" />
						    <label 
						        th:for="${#ids.prev('readability')}"
						        th:text="${radioValue}"></label>
						 </span>
					</td>
       			<tr>
          			<td>Originality</td>
          			<td>
	          			<span th:each="radioValue: ${allValues}">
						    <input type="radio" 
						        th:field="*{originality}"
						        th:value="${radioValue}" />
						    <label 
						        th:for="${#ids.prev('originality')}"
						        th:text="${radioValue}"></label>
						 </span>
					</td>
       			</tr>
       			<tr>
          			<td>Relevance</td>
          			<td>
	          			<span th:each="radioValue: ${allValues}">
						    <input type="radio" 
						        th:field="*{relevance}"
						        th:value="${radioValue}" />
						    <label 
						        th:for="${#ids.prev('relevance')}"
						        th:text="${radioValue}"></label>
						 </span>
					</td>
       			</tr>
       			<tr>
          			<td>Overall Recommendation</td>
          			<td>
	          			<span th:each="radioValue: ${allValues}">
						    <input type="radio" 
						        th:field="*{overallrecomm}"
						        th:value="${radioValue}" />
						    <label 
						        th:for="${#ids.prev('overallrecomm')}"
						        th:text="${radioValue}"></label>
						 </span>
					</td>
       			</tr>
       			<tr>
          			<td>Comments for Committee</td>
          		<td><input type="text" placeholder="  " th:field="*{commentForCommittee}"></td>
       			</tr>
       			<tr>
          			<td>Comments for Author</td>
          		<td><input type="text" placeholder="  " th:field="*{commentForAuthor}"></td>
       			</tr>
     		</table>
      		<button type="submit" id=submitform> Submit </button>
 		 </form>
 		 <br>
 		 <p th:text="${message}" />
 	 </div>
</body>

</html>